@import '_common';

@mixin flex($dp,$wi,$po,$to,$le,$bc,$vi,$tr,$op){
    display: $dp;
    width: $wi;
    position: $po;
    top: $to;
    left: $le;
    background: $bc;
    visibility: $vi;
    transition: $tr;
    opacity: $op;
}
@mixin after($co,$po,$le,$bo,$wi,$he,$bc,$tr){

    content: $co;
    position: $po;
    left: $le;
    bottom: $bo;
    width: $wi;
    height: $he;
    background: $bc;
    transition: $tr;
}

header{
    background-color: #fff;
    width:100%;
    border-bottom: 1px solid #ebebeb;
    left:0; top:0;
    padding:0 50px;
    position: fixed;
    z-index: 10;
    display: block;
    animation: h_ani 1s forwards;
    // m-menu ===========
    .m-menu{
    position: absolute;
    right:20px;
    top:50%;
    transform: translateY(-50%);
    .eng{
        font-family: 'Roboto',sans-serif;
        position: relative;
        display: none;
        color: #000;
        font-size: 0.9em;
        letter-spacing: 2.5px;
        font-weight: 500;
        padding-right: 45px;
        p{
            background: #ef5025;
            position: absolute;
            right:0; top:50%;
            width:38px;
            height: 38px;
            border-radius: 100%;
            margin-top: -19px;
            span{
                position: absolute;
                height: 2px;
                background: #fff;
                width: 18px;
                left: 50%;
                margin-left: -9px;
                top: 50%;
                margin-top: -1px;
                &:nth-child(1){
                    margin-top: -7px;
                }
                &:nth-child(2){
                    margin-top: 5px;
                }
            }
        }
    }}
}
@keyframes h_ani{
    0%{transform: translateY(-100%);opacity: 0;}
    100%{transform: translateY(0)}}

    .title{
        margin:0 15%;
        width: 100%;
        display: flex;
        justify-content: space-between;}

    .gnb{
        padding-top:15px;
        margin:0 auto;
        float: right;
        .menu{
            display: flex;
            width: 100%;
            }
        }

        .menu1, .menu2, .menu3, .menu4{
            padding: 20px 40px 20px;
            a{
                color:#000;
                font-family: 'Roboto', sans-serif;
                font-size:22px;
                font-weight: 500;
            }
        
        .sub_menu,.sub_menu2{
                a{
                    font-size: 14px;
                    color:#555;}
            }
        }
        .menu1{position: relative;}
        .menu1>a::after{
            @include after('', absolute, 20px, -2px, 0%, 3px, #ef5025,0.3s);
        }
        .menu1:hover{a::after{width:70%;}}
        
        .menu2{position: relative;}
        .menu2>a:after{
            @include after('', absolute, 20px, -2px, 0%, 3px, #ef5025,0.3s);
        }
        .menu2:hover{a::after{width:70%;}}
        
        .sub_menu, .sub_menu2{
            @include flex(flex,100%,absolute,100%,10%,rgb(255, 255, 255),hidden,0.4s,0);
        }
        
        .menu li:hover .sub_menu{visibility: visible; opacity: 1;
            animation: sub_ani 0.5s forwards;}
        .menu li:hover .sub_menu2{visibility: visible; opacity: 1;
            animation: sub_ani 0.5s forwards;}
        
        .menu3{position: relative;}
        
        .menu3{a::after{
            @include after('', absolute, 20px, -2px, 0%, 3px, #ef5025,0.3s);
        }}
        .menu3:hover{a::after{width:70%;}}
        
        .menu4{position: relative;}
        
        .menu4{a::after{
            @include after('', absolute, 20px, -2px, 0%, 3px, #ef5025,0.3s);
        }}
        
        .menu4:hover{a::after{width:70%;}}
        
        .sub_menu li{
            width: 100%; height: 50px;
            text-align: center;
            padding: 10%;
        }
        
        .sub_menu2 li{
            width: 100%;
            height: 50px;
            text-align: center;
            padding: 10%;
            white-space: nowrap;
        }
        
        @keyframes sub_ani{
            0%{transform: translateX(-15%);opacity: 0;}
            100%{transform: translateX(0);opacity: 1;}
        }

.main_wrap{
    height: 100%;
    position: relative;
    display: flex;
}
.main_in{
    padding-top:5%;
    padding-left: 10%;
}
.main_out{
    background-color: #000;
    position: fixed;
    z-index: 11;
    left:0; top:50%;
    height:240px;
    width:80px;
    color:#fff;
    font-size:15px;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    letter-spacing: 4px;
    transition:0.5s;
    transform: translateY(-50%);
    span{
        position: absolute;
        width:240px;
        left:-80px;
        top:50%;
        margin-top:-40px;
        text-align: center;
        transform: rotate(90deg);
    }
}
.main_out::after{
    content: '';
    position: absolute;
    left:50%; top:50%;
    width:180px;
    height:38px;
    margin-left: -90px;
    margin-top: -20px;
    background: url('../img/logo_w.png') no-repeat center center / cover;
    transform: rotate(90deg);
    opacity: 0.15;
}
.main_out:hover{
    height:100%;
}

.main_in{
    margin:0 auto;
    width:80%;}
.sec-1{

    h1{
        position: relative;
        overflow: hidden;
        max-width:519px;
        padding-top:10%;
        padding-bottom:3%;
        transition: 0.2s;
        img{
            animation: fadeIn 0s 1.5s;
            animation-fill-mode: backwards;
            width:100%;}
            &::after{
            content: '';
            position: absolute;
            left:0; top:50%;
            width:100%;
            height:100%;
            background-color: #000;
            transform: translateX(-100%);
            animation: secondaryImageOverlayIn 0.6s 0s,
            secondaryImageOverlayOut 1s 1s;
            animation-fill-mode: both;
    }
    }
    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }
      
      @keyframes secondaryImageOverlayIn {
        0% {width: 0%;}
        100% {width: 100%;}
      }
      
      @keyframes secondaryImageOverlayOut {
        0%{transform:translate(-110%, 0)};
        55%{transform: translate(0, 0)};
        100%{transform: translate(110%, 0)}
      }

      .in_link{
        top: 0;
        position: relative;
        left: 0;
        font-size: 1.6em;
        z-index: 10;
        padding: 30px 10px;

            a{
                
                display:inline-block;
                position:relative;
                color:#333;
                padding:15px 0;
                padding-right:70px;
                font-size: 18px;
                font-family: 'Noto Sans KR', sans-serif;
                animation: link_ani 0.5s 1s forwards;
                transform: translateX(-100%);opacity: 0;

                i{
                    position:absolute;
                    top:50%;
                    margin-top:-20px;
                    right:0;
                    width:40px;
                    height:40px;
                    border-radius:100%;
                    background:#fff;
                    border:1px solid #333;
                }
                i::after{
                    content: "";
                    position: absolute;
                    background: url('../img/more_arrow.png') no-repeat center center / cover;
                    width: 30px;
                    height: 8px;
                    left: -15px;
                    top: 50%;
                    margin-top: -6px;
                    transition: 0.6s;
                }
            }
            a:hover{
                i{
                    background:#000;
                    border:1px solid #000;
                    width:56px;
                    height:56px;
                    margin-top:-28px;
                }
                i:after{
                    background:url('../img/more_arrow_w.png') no-repeat center center / cover;
		            left:8px;
                }
            }
    }}
        @keyframes link_ani{
        100%{transform: translateX(0);opacity: 1;}}


.sec-1:hover{
    .scroll{
        opacity:.4;
	    right:22%;}
}
.scroll{
    color: #fff;
    display: block;
    position: absolute;
    right:25%; top:50%;
    z-index: 12;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.0em;
    font-weight: 300;
    transform:translateY(-50%);
    transition: 0.3s;
    img{
        position: absolute;
        right:-60px;
        top:5px;
        width:33px;
        animation: Scroll 0.6s infinite alternate;
    }
    span{
        display: block;
        border: 1px solid #fff;
        position: absolute;
        right:-70px; top:-40%;
        width:40px; height:40px;
        border-radius: 100%;

    }
}
@keyframes Scroll{
    100%{right:-100%;}
}
.sec-1{
    h1:hover{
        transform: translate(-2%, -2%);
    }
}

.main_img{
    margin: 0 auto;
    position: relative;
    display: flex;
    width:80vw;
    // z-index: 1;

    
    a{
        width:30%;
        position: relative;
        flex-shrink: 0;
        transform: translateX(10%);
        opacity:0;
        img{width:100%;}
        .txt_con1{
        transition: 0.3s;
        position:absolute;
        left:0;
        top:0px;
        width:100%;
        height:100%;
        background:rgba(239,80,37,.8);
        text-align:center;
        transform:scale(.9);
        opacity:0;
        div{
            position:absolute;
            width:100%;
            left:0;
            top:35%;}
    }

}
    
}
.slide_01{
    overflow: hidden;
    display: flex;}
.slide_01 a:hover,
.slide_01 a:focus{div{transform:scale(1);
	opacity:1;}}

    
    .main_img a > .txt_con1 > div{
        color:#fff;
        .title{
        justify-content: center;
        align-items: center;
        font-size:0.8em;
        letter-spacing:3px;
        font-weight:500;
        margin:0 0 15px 0;}
        .s_title{
            font-size:1.8em;
            letter-spacing:-0.03em;
        }
    }
    .main_img .slide_01 a > .txt_con1 > div .more{
        display:block;
        border:1px solid rgba(255,255,255,.7);
        border-radius:100%;
        width:80px;
        height:80px;
        margin:0 auto;
        margin-top:40px;
        position:relative;
        font-size: 0;
    }
    .main_img .slide_01 a > .txt_con1 > div .more::after,
    .main_img .slide_01 a > .txt_con1 > div .more::before{
        content:'';
        width:24px;
        border-top:2px solid #fff;
        position:absolute;
        left:50%;
        top:50%;
        margin-left:-12px;
        margin-top:-1px;
    }
    .main_img a > .txt_con1 > div .more:before{
        transform:rotate(90deg);
    }

    .main_img{
    $slide : (1,2,3,4,5,6);
    @each $num in $slide {
        a:nth-of-type(#{$num}){
            animation: sldie_x 1s #{($num*0.2)}s forwards;
        }
    }}
    
    @keyframes sldie_x{
        100%{transform: translateX(0);opacity: 1;}
    }
    
.main_txt{
    position:absolute;
    right:30%; top:-100px;
    display:block;
    color:#333;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    border-bottom: 1px solid #ebebeb;
    animation: t_ani 1s 1s forwards;
    transform: translateX(100%);opacity: 0;
        b{font-size:30px;}
        span{
        color:#000;
        font-weight: bold;
        }
    }
    @keyframes t_ani{
        to{transform: translateX(0);opacity: 1;}}

.ft_menu{
    ul{
        margin:0;
    display: flex;
    justify-content: center;
    text-align: center;
}
}
footer{
    position: fixed;
    left:0; bottom:0;
    width:100%;
    background-color: #fff;
    padding:20px 0;
}
.sub_menu3{
    li{
        a{
        color: #333;
        font-size: 12px;
        font-family: 'Noto Sans KR', sans-serif;
        padding:0 10px;
    }
    }
    li{
        &:nth-of-type(3){
            a{
                color:#000;
                font-weight: bold;}
        }
    }}

    .m-more-about{
        top: 0;
        position: relative;
        left: 0;
        font-size: 1.6em;
        z-index: 10;
        padding: 0px 10px;
            a{
                display:none;
                position:relative;
                color:#333;
                padding:15px 0;
                padding-right:70px;
                font-weight: 900;
                i{
                    position:absolute;
                    top:50%;
                    margin-top:-20px;
                    right:0;
                    width:40px;
                    height:40px;
                    border-radius:100%;
                    background:#fff;
                    border:1px solid #333;
                }
                i::after{
                    content: "";
                    position: absolute;
                    background: url('../img/more_arrow.png') no-repeat center center / cover;
                    width: 30px;
                    height: 8px;
                    left: -15px;
                    top: 50%;
                    margin-top: -6px;
                    transition: 0.3s;
                }
            }
            a:hover{
                i{
                    background:#000;
                    border:1px solid #000;
                    width:56px;
                    height:56px;
                    margin-top:-28px;
                }
                i:after{
                    background:url('../img/more_arrow_w.png') no-repeat center center / cover;
		            left:8px;
                }
            }
    }
footer > p{
    font-weight:300;
    font-size:12px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    justify-content: center;
    text-align: center;
    span{
        color:#00aeef;
    }
}


// mobile===================================================================================
@media (min-width:$mobile) and (max-width:$tablet){
    header{
        background-color: #fff;
        width:100%;
        height:50px;
        border-bottom: 0px solid #ebebeb;
        left:0; top:0;
        padding:0 50px;
        position: fixed;
        z-index: 10;
        display: block;
        animation: h_ani 1s forwards;
        // m-menu ===========
        .m-menu{
        position: absolute;
        right:20px;
        top:50%;
        transform: translateY(-50%);
        .eng{
            font-family: 'Roboto',sans-serif;
            position: relative;
            display: block;
            color: #000;
            font-size: 0.9em;
            letter-spacing: 2.5px;
            font-weight: 500;
            padding-right: 45px;
            p{
                background: #ef5025;
                position: absolute;
                right:0; top:50%;
                width:38px;
                height: 38px;
                border-radius: 100%;
                margin-top: -19px;
                span{
                    position: absolute;
                    height: 2px;
                    background: #fff;
                    width: 18px;
                    left: 50%;
                    margin-left: -9px;
                    top: 50%;
                    margin-top: -1px;
                    &:nth-child(1){
                        margin-top: -7px;
                    }
                    &:nth-child(2){
                        margin-top: 5px;
                    }
                }
            }
        }}
    }
    
        .title{
            margin:0 15%;
            width: 100%;
            display: flex;
            justify-content: space-between;}
    
        .gnb{
            padding-top:15px;
            margin:0 auto;
            float: right;
            .menu{
                display: none;
                width: 100%;
                }
            }
    
            .menu1, .menu2, .menu3, .menu4{
                padding: 20px 40px 20px;
                a{
                    color:#000;
                    font-family: 'Roboto', sans-serif;
                    font-size:22px;
                    font-weight: 500;
                }
            
            .sub_menu,.sub_menu2{
                    a{
                        font-size: 14px;
                        color:#555;}
                }
            }
            .menu1{position: relative;}
            .menu1>a::after{
                @include after('', absolute, 20px, -2px, 0%, 3px, #ef5025,0.3s);
            }
            .menu1:hover{a::after{width:70%;}}
            
            .menu2{position: relative;}
            .menu2>a:after{
                @include after('', absolute, 20px, -2px, 0%, 3px, #ef5025,0.3s);
            }
            .menu2:hover{a::after{width:70%;}}
            
            .sub_menu, .sub_menu2{
                @include flex(flex,100%,absolute,100%,10%,rgb(255, 255, 255),hidden,0.4s,0);
            }
            
            .menu li:hover .sub_menu{visibility: visible; opacity: 1;
                animation: sub_ani 0.5s forwards;}
            .menu li:hover .sub_menu2{visibility: visible; opacity: 1;
                animation: sub_ani 0.5s forwards;}
            
            .menu3{position: relative;}
            
            .menu3{a::after{
                @include after('', absolute, 20px, -2px, 0%, 3px, #ef5025,0.3s);
            }}
            .menu3:hover{a::after{width:70%;}}
            
            .menu4{position: relative;}
            
            .menu4{a::after{
                @include after('', absolute, 20px, -2px, 0%, 3px, #ef5025,0.3s);
            }}
            
            .menu4:hover{a::after{width:70%;}}
            
            .sub_menu li{
                width: 100%; height: 50px;
                text-align: center;
                padding: 10%;
            }
            
            .sub_menu2 li{
                width: 100%;
                height: 50px;
                text-align: center;
                padding: 10%;
                white-space: nowrap;
            }
            
            @keyframes sub_ani{
                0%{transform: translateX(-15%);opacity: 0;}
                100%{transform: translateX(0);opacity: 1;}
            }
    
    .main_wrap{
        height: 100%;
        position: relative;
        display: flex;
    }
    .main_in{
        padding:120px 0 0 0;
    }
    .main_out{
        display: none;
        background-color: #000;
        position: fixed;
        z-index: 11;
        left:0; top:50%;
        height:240px;
        width:80px;
        color:#fff;
        font-size:15px;
        font-weight: bold;
        text-align: center;
        line-height: 80px;
        letter-spacing: 4px;
        transition:0.5s;
        transform: translateY(-50%);
        span{
            position: absolute;
            width:240px;
            left:-80px;
            top:50%;
            margin-top:-40px;
            text-align: center;
            transform: rotate(90deg);
        }
    }
    .main_out::after{
        content: '';
        position: absolute;
        left:50%; top:50%;
        width:180px;
        height:38px;
        margin-left: -90px;
        margin-top: -20px;
        background: url('../img/logo_w.png') no-repeat center center / cover;
        transform: rotate(90deg);
        opacity: 0.15;
    }
    .main_out:hover{
        height:100%;
    }
    
    .main_in{
        margin:0 auto;
        width:80%;}
    .sec-1{
    
        h1{
            position: relative;
            overflow: hidden;
            max-width:519px;
            padding-top:10%;
            padding-bottom:3%;
            transition: 0.2s;
            img{
                animation: fadeIn 0s 1.5s;
                animation-fill-mode: backwards;
                width:100%;}
                &::after{
                content: '';
                position: absolute;
                left:0; top:50%;
                width:100%;
                height:100%;
                background-color: #000;
                transform: translateX(-100%);
                animation: secondaryImageOverlayIn 0.6s 0s,
                secondaryImageOverlayOut 1s 1s;
                animation-fill-mode: both;
        }
        }
        @keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
          }
          
          @keyframes secondaryImageOverlayIn {
            0% {width: 0%;}
            100% {width: 100%;}
          }
          
          @keyframes secondaryImageOverlayOut {
            0%{transform:translate(-110%, 0)};
            55%{transform: translate(0, 0)};
            100%{transform: translate(110%, 0)}
          }
    
          .in_link{
            top: 0;
            position: relative;
            left: 0;
            font-size: 1.6em;
            z-index: 10;
            padding: 30px 10px;
    
                a{
                    
                    display:inline-block;
                    position:relative;
                    color:#333;
                    padding:15px 0;
                    padding-right:70px;
                    font-size: 18px;
                    font-family: 'Noto Sans KR', sans-serif;
                    animation: link_ani 0.5s 1s forwards;
                    transform: translateX(-100%);opacity: 0;
    
                    i{
                        position:absolute;
                        top:50%;
                        margin-top:-20px;
                        right:0;
                        width:40px;
                        height:40px;
                        border-radius:100%;
                        background:#fff;
                        border:1px solid #333;
                    }
                    i::after{
                        content: "";
                        position: absolute;
                        background: url('../img/more_arrow.png') no-repeat center center / cover;
                        width: 30px;
                        height: 8px;
                        left: -15px;
                        top: 50%;
                        margin-top: -6px;
                        transition: 0.6s;
                    }
                }
                a:hover{
                    i{
                        background:#000;
                        border:1px solid #000;
                        width:56px;
                        height:56px;
                        margin-top:-28px;
                    }
                    i:after{
                        background:url('../img/more_arrow_w.png') no-repeat center center / cover;
                        left:8px;
                    }
                }
        }}
            @keyframes link_ani{
            100%{transform: translateX(0);opacity: 1;}}
    
    
    .sec-1:hover{
        .scroll{
            opacity:.4;
            right:22%;}
    }
    .scroll{
        color: #fff;
        display: none;
        position: absolute;
        right:25%; top:50%;
        z-index: 12;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1.0em;
        font-weight: 300;
        transform:translateY(-50%);
        transition: 0.3s;
        img{
            position: absolute;
            right:-60px;
            top:5px;
            width:33px;
            animation: Scroll 0.6s infinite alternate;
        }
        span{
            display: block;
            border: 1px solid #fff;
            position: absolute;
            right:-70px; top:-40%;
            width:40px; height:40px;
            border-radius: 100%;
    
        }
    }
    @keyframes Scroll{
        100%{right:-100%;}
    }
    .sec-1{
        h1:hover{
            transform: translate(-2%, -2%);
        }
    }
    
    .main_img{
        margin: 0 auto;
        position: relative;
        display: flex;
        width:80vw;
        // z-index: 1;
    
        
        a{
            width:100%;
            position: relative;
            flex-shrink: 0;
            transform: translateX(0);
            opacity:1;
            img{width:100%;}
            .txt_con1{
            background: rgba(255, 255, 255, 0.2);
            transition: 0.3s;
            position:absolute;
            left:0;
            top:0px;
            width:100%;
            height:100%;
            text-align:center;
            transform:scale(1);
            opacity:1;
            div{
                position:absolute;
                width:100%;
                left:0;
                top:35%;}
        }
    
    }
        
    }
    .slide_01{
        overflow: hidden;
        flex-direction: column;
        display: flex;}
    .slide_01 a:hover,
    .slide_01 a:focus{div{transform:scale(1);
        opacity:1;}}
    
        
        .main_img a > .txt_con1 > div{
            color:#fff;
            .title{
            justify-content: center;
            align-items: center;
            font-size:0.8em;
            letter-spacing:3px;
            font-weight:500;
            margin:0 0 15px 0;}
            .s_title{
                font-size:1.8em;
                letter-spacing:-0.03em;
            }
        }
        .main_img .slide_01 a > .txt_con1 > div .more{
            display:block;
            border:1px solid rgba(255,255,255,.7);
            border-radius:100%;
            width:80px;
            height:80px;
            margin:0 auto;
            margin-top:40px;
            position:relative;
            font-size: 0;
        }
        .main_img .slide_01 a > .txt_con1 > div .more::after,
        .main_img .slide_01 a > .txt_con1 > div .more::before{
            content:'';
            width:24px;
            border-top:2px solid #fff;
            position:absolute;
            left:50%;
            top:50%;
            margin-left:-12px;
            margin-top:-1px;
        }
        .main_img a > .txt_con1 > div .more:before{
            transform:rotate(90deg);
        }
    
        .main_img{
        $slide : (1,2,3,4,5,6);
        @each $num in $slide {
            a:nth-of-type(#{$num}){
                animation: sldie_x 1s #{($num*0.2)}s forwards;
            }
        }}
        
        @keyframes sldie_x{
            100%{transform: translateX(0);opacity: 1;}
        }
        
    .main_txt{
        position:absolute;
        right:30%; top:-100px;
        display:none;
        color:#333;
        text-align: right;
        font-family: 'Roboto', sans-serif;
        font-size:14px;
        border-bottom: 1px solid #ebebeb;
        animation: t_ani 1s 1s forwards;
        transform: translateX(100%);opacity: 0;
            b{font-size:30px;}
            span{
            color:#000;
            font-weight: bold;
            }
        }
        @keyframes t_ani{
            to{transform: translateX(0);opacity: 1;}}
    
    .ft_menu{
        ul{
            margin:0;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    }
    footer{
        position: fixed;
        left:0; bottom:0;
        width:100%;
        background-color: #fff;
        padding:20px 0;
    }
    .sub_menu3{
        li{
            a{
            color: #333;
            font-size: 12px;
            font-family: 'Noto Sans KR', sans-serif;
            padding:0 10px;
        }
        }
        li{
            &:nth-of-type(3){
                a{
                    color:#000;
                    font-weight: bold;}
            }
        }}
    
        .m-more-about{
            top: 0;
            position: relative;
            left: 0;
            font-size: 1.6em;
            z-index: 10;
            padding: 0px 10px;
                a{
                    display:none;
                    position:relative;
                    color:#333;
                    padding:15px 0;
                    padding-right:70px;
                    font-weight: 900;
                    i{
                        position:absolute;
                        top:50%;
                        margin-top:-20px;
                        right:0;
                        width:40px;
                        height:40px;
                        border-radius:100%;
                        background:#fff;
                        border:1px solid #333;
                    }
                    i::after{
                        content: "";
                        position: absolute;
                        background: url('../img/more_arrow.png') no-repeat center center / cover;
                        width: 30px;
                        height: 8px;
                        left: -15px;
                        top: 50%;
                        margin-top: -6px;
                        transition: 0.3s;
                    }
                }
                a:hover{
                    i{
                        background:#000;
                        border:1px solid #000;
                        width:56px;
                        height:56px;
                        margin-top:-28px;
                    }
                    i:after{
                        background:url('../img/more_arrow_w.png') no-repeat center center / cover;
                        left:8px;
                    }
                }
        }
    footer > p{
        font-weight:300;
        font-size:12px;
        font-family: 'Noto Sans KR', sans-serif;
        color: #333;
        justify-content: center;
        text-align: center;
        span{
            color:#00aeef;
        }
    }
    
}